// ?--------HEADER
@media screen and (max-width: 685px) {
    .bienvenidos {
        flex-direction: column;
    }

    .bienvenidos div {
        width: 80%;
        padding: 30px;
    }

    .bienvenidos img {
        display: column;
    }
}
@media screen and (max-width: 410px ){
    .bienvenidos img{
        width: 300px;
        height: 320px;
    }
}
